:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.password-strength {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
}

.strength-sections {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.strength-section {
  width: 30px;
  height: 10px;
  display: inline-block;
}

.weak-section {
  background-color: red;
}

.medium-section {
  background-color: yellow;
}

.strong-section {
  background-color: green;
}
